/**/

:root{
    --white:#F7F7FF;
    --blue:#3B4CCA;
    --red:#CC0000;
    --yellow:#FFDE00;
    --green:#5FAD56;
}

/*font-family: 'League Spartan', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=League+Spartan&display=swap');

/*font-family: 'Hubballi', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

/*font-family: 'Noto Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;500&display=swap');

/*font-family: 'Bebas Neue'*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*fonts*/
.league-spartan {
    font-family: 'League Spartan', sans-serif;
}

.hubballi {
    font-family: 'Hubbali', cursive;
}

.noto-sans {
    font-family: 'Noto Sans', sans-serif;
}

.bebas-neue {
    font-family: 'Bebas Neue', cursive;
}

.anton {
    font-family: 'Anton', sans-serif;
}



body {
    min-height: 100vh;
}

.hidden {
    display: none;
}

/*navbar*/
.navbar{
    background-color: var(--blue);
    font-family: 'League Spartan', sans-serif;
}

.navbar-toggler-icon {
    color:  var(--white);
    z-index: 100;
}

.navbar a{
    color:  var(--white);
}


/* Index Page */

/*hero*/
.hero-banner{
    background-color: #cc0000;
}

.hero-banner h1 {
    font-size: 48px;
}
.hero-banner .btn {
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.hero-banner .btn-blue:before {
    content: "";
    background: var(--red);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.hero-banner .btn-notblue:before {
    content: "";
    background: var(--blue);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.hero-banner .btn:hover:before {
    width: 100%;
}

.hero-buttons{
    display: flex;
    flex-direction: column;
}


.hero-text {
    color:  var(--yellow);
}








/*articles*/
.btn-blue{
    background: var(--blue);
}


/*footer*/
.footer{
    color:  var(--white);
    background-color: var(--blue);
}

.footer a{
    text-decoration: none;
}

